@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-700 {
    background-color: #9b9b9b;
}

.bg-gray-700:hover {
    background-color: #5b5b5b;
}

.edit-button {
    outline: none;
}

.lni-trash {
    color: #ff0000;
}

.tabella-container {
    width: 100%;
    height: 100%;
}

.nome-utente-container {
    display: inline-block;
    position: absolute;
    margin-left: 1%;
}

.contatti {
    display: inline-block;
    float: right;
    margin-right: 3%;
    text-align: right;
}

.contatti.hidden {
    display: none;
}

.copertina-profilo {
    overflow: hidden;
    margin-bottom: 2%;
    min-width: 100%;
    min-height: 400px;
    width: 100%;
}

.profile-background {
    min-height: 270px;
    background-color: #5b5b5b;
    width: 96%;
    height: 25%;
    margin: 2% 2% 1% 2%;
    border-radius: 15px;
    display: inline-block;
}

.profile-picture {
    background-color: #e7e9eb;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: inline-block;
    border-color: #5b5b5b;
    border-width: 5px;
}

.card.contatti {
    margin: 2% 0 2% 0;
    width: 100%;
    display: inline-block;
    height: 100%;
}

.testo.contatti {
    display: inline-block;
    margin: 2% 0 0 2%;
    font-size: 24px;
}

.lni-pencil.edit {
    float: right;
    padding: 2% 2% 2% 2%;
}


.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 25%;
    max-width: 50%;
}

@media (max-width: 1024px) {
    .resp1024 {
        display: none;
    }
}

@media (max-width: 640px) {
    .pl-5.column, .pr-5.column {
        flex: 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .resp640, .resp1024 {
        display: none;
    }

    .contatti {
        display: none;
    }

    .contatti.hidden {
        display: inline-block;
        float: none;
        margin: 5% 0 5% 5%;
        text-align: left;
        position: relative;
    }

    .testo.grande, .testo.titolo.grande {
        font-size: 14px;
    }

    .testo {
        font-size: 12px;
    }
}
@layer components {
    .form-prova {
        @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
    }
}
